<p><b>Total number of commits: </b><%= @num_revisions%></p>
<table>
  <thead>
    <th>Files</th>
    <th>Number of commits</th>
  </thead>
  <tbody>
    <% @hash_files.each_key do |file_key| %>
      <tr>
        <td><%= file_key %></td>
        <td><%= @hash_files[file_key] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<br/>

